<p class="h1" style="text-align:center;">Публикации – 1999-2006</p>

<p class="lead">
·        Бакърджиев Д., Дочев М., Жилевска М., Автоматизация на машина за добив на скални блокове, ЮНС “60 години СУБ – Русе”, том 2 , 2004 г.
<br />
<br />
·        Бакърджиев Д., Ангов Г., Жилевска М., Управление на купулометър за изследване на вестибуларния апарат, УНИТЕХ 2004 – Габрово, част 1, стр.390-394
<br />
<br />

·        Бакъджиев Д., Кочевска В., Пенкова Т., Икономически и технически съображения при управление на топло и водозахранване на жилищни и административни сгради, УНИТЕХ 2004 – Габрово, част 1, стр.532-536
<br />
<br />

·        Билдирев Ж., Бакърджиев Д., Бакърджиев Хр., Изравняване товари в многовалово подемно устройство за спускане кораби на вода, ЮНС “30 години ФА” 25-26.10.2004 г.
<br />
<br />

·        Бакърджиев Д., Система за управление на натоварването на машина за рязане на скални блокове, ЮНС “60 години СУБ – Русе”, том 2, 2004 г.
<br />
<br />

·        Бакърджиев Д.,Стойчев Ст.,Дочев М., Оптимално електрозадвижване на шевни машини, УНИТЕХ – 2004 – Габрово, част 1, стр. 395-400
<br />
<br />

·        Бакърджиев Д., Ангов Г., Аналогова система за управление на купулометър за изследване на вестибуларния апарат, ЮНС “30 години ФА” 25-26.10.2004 г.
<br />
<br />

·        Билдирев Ж., Л. Попов - Относно информацията, получавана от идентификацията на статични параметри на електрозадвижване, Годишник на ТУ - София, т. 49, 1998.
<br />
<br />

·        Билдирев Ж. Контрол на динамичните параметри на електромеханична система за целите на робастното управление, МЕТРОЛОГИЯ ’ 1998.
<br />
<br />

·        Билдирев Ж. Робастно управление на електромеханична система, МЕТРОЛОГИЯ ’ 1999.
<br />
<br />

·        Билдирев Ж., Л. Попов - Делта - метод за идентификация на апериодично звено, МЕТРОЛОГИЯ ’ 2001
<br />
<br />

·        Билдирев Ж., Л. Попов - Наблюдател на момента на вала при един клас електрозадвижвания, МЕТРОЛОГИЯ ‘ 2002.
<br />
<br />

·        Билдирев Ж., Л. Попов - Наблюдател на момента на вала при асинхронни електрозадвижвания, Юбилейна научна конференция “30 години ФА”, 25-26 окт.2004.
<br />
<br />

·        Билдирев Ж., Хр. Бакърджиев, М.Дочев, Ст. Стойчев – Автоматизация на машина за добив на скални блокове, Унитех’04 – Габрово, 2004.
<br />
<br />

·        Билдирев Ж., М. Дочев, Ст. Стойчев - Наблюдател на двигателния, на съпротивителния и на инерционния моменти при електрозадвижвания на машини – Научна конференция за 60-годишнината на Съюза на учените в България, Русе, 28-30.10.2004.
<br />
<br />

·        Билдирев Ж., Ст. Стойчев, М. Дочев – Управление на куполометър за изследване на вестибуларния апарат – Научна конференция за 60-годишнината на Съюза на учените в България, Русе, 28-30.10.2004.
<br />
<br />

·        Билдирев Ж., М. Жилевска, Хр. Бакърджиев, В. Кочевска – Оптимално управление на електрозадвижването на шевни машини – Научна конференция за 60-годишнината на Съюза на учените в България, Русе, 28-30.10.2004.
<br />
<br />

·        Е. Йончев, Е. Димитров, Изследване на влиянието на горивната уредба върху мощностните показатели на ДВГ, 10 Научно-техническа конференция с международно участие "ЕКОВАРНА' 2004", 13-15 май 2004.
<br />
<br />

·        Е. Йончев, Е. Димитров, Б.Павлов, П.Паунов, Изследване на влиянието на горивната уредба върху качеството на смесообразуването на бензиновия двигател, Trans & mftauto'04, Пловдив 2004г., стр.17
<br />
<br />

·        Т. Ioпkov, А. Alfermann, Mathematical optimisation in Genetic transformation in medicinal plants and the power of Agrobacterium-mediated transformation for production of biologically active compounds, International Congress Natural Product research in the new Millenium, Zurich, 2001
<br />
<br />

·        V. Ganev, T. Ionkov, Automation in health systems, Civil & Env Egr, Inst Intl Health, MSU, Reports, 2001
<br />
<br />

·        Todor Ioпkov, Integral forwardsteping control for parametric variable motion system, International Conference AUTOMATICS & INFORMATICS Мау 31 -June 2, 2001 Sofia, Bulgaria
<br />
<br />

·        Т. Йонков, Б. Борисов, Оптимално управление на каменообработващи машини с голяма мощност, ІІ Национална конференция "Автоматизация в керамичната промишленост", Исперих, Юни, 2002
<br />
<br />

·        Т. Йонков, Б. Борисов, Позиционни електрозадвижвания с повишена точност, ІІ Национална конференция "Автоматизация в керамичната промишленост", Исперих, Юни, 2002
<br />
<br />

·        Vasilev. N., Ionkova. I., Ninov St., Tzvetanova V., T. Ionkov, A.W.Alfermann  Ariltetralin lignans - optimisation production - from cultures of Linum campanulatum L., Linum narbonense L. and Linum strictumL. in vitro 50-th Annual Congress of the Society for Medicinal Plant Research, Barcelona Spain, September, 2002
<br />
<br />

·        C. Pavlitov, Application of Neural Networks for Control of Electrical Drives, Electro-technics and Electronics Journal, Sofia 1-2 2001.
<br />
<br />

·        C. Pavlitov, S. Siderov, Neural Network Model of the Electrical Load of an Industrial Enterprise, Proceedings of the Technical University of Sofia, Vol.51, 2000-2001.
<br />
<br />

·        C. Pavlitov, S. Siderov, S. Andasarov, Mathematical Model of Neuro-fuzzy Power Factor Control System, IEEE, International Aegean Conference on Electrical Machines and Power Electronics, Turkey –Kushadasi, June 2001.
<br />
<br />

·        C. Pavlitov, Fuzzy Position Control of Induction Motor, 5th International AECV Conference-organized by the ministry of defence of France, Angers, France , 2 - 5 June 2003
<br />
<br />

·        C. Pavlitov, A. Alexandrov, R. Rusinov, G. Bayram, Monte Carlo Analysis of a Strain Gauge Monitoring Device, Journal of the University of Chemical Technology and Mettallurgy,40,2,2005,145-152, Sofia, February 2005
<br />
<br />

·        C. Pavlitov, Y. Gorbunov, Precise Encoding Method and Device, 13-th International Conference on Electrical Drives and Power Electronics –EDPE 2005, September 26-28, 2005, Dubrovnik, Croatia
<br />
<br />

·        Павлитов К., Горбунов Я., Нелинеен  преобразувател от типа TanSig реализиран на базата на Spartan II на  Xilinx, сп.Е+Е., София, 3.4.2005.
<br />
<br />

·        Павлитов К., Горбунов Я., Умножител реализиран на базата на фамилията програмируеми схеми SpartanII на Xilinx, сп.Е+Е,София, 7.8.2004.
<br />
<br />

·        Горбунов Я., Павлитов К., Развойна система на базата на програмируема логическа схема SpartanII на Xilinx,сп.Е+Е, София,1.2.2005.
<br />
<br />

·        Manchev O., Donchev B., Pavlitov K. FPGA Implementation of Artificial Neurons,Sozopol, ELECTRONICS’2004.
<br />
<br />

·        Михов М.Р. Изследване на система за управление на синхронен двигател с постоянни магнити. Техническа мисъл, т. 38, № 3-4, 23-34, 2001.
<br />
<br />

·        Михов М.Р., А.М.Аврамов, Р.Н.Огнянов. Перспективи за приложение на електрозад­виж­вания с превключваеми реактивни двигатели. Известия на съюза на учените, т. 3, 160-162, 2001.
<br />
<br />

·        Михов М.Р., А.М.Аврамов, Р.Н.Огнянов. Особености на преобразуването на енергията в превключваемите реактивни двигатели. Известия на съюза на учените, т. 3, 163-166,  2001.
<br />
<br />

·       Mikhov M.R. Control of Coordinate Ratios in Dual-Motor Electromechanical Systems. Proceedings of the ICAI, pp. 135-138, Sofia, 2001.
<br />
<br />

·        Mikhov M.R. Control of Dual-Motor Drive Systems. Proceedings of the ICMIT, pp. 198-203, Yamaguchi, Japan, 2001.
<br />
<br />

·        Mikhov M.R. Analysis and Simulation of a Servo Drive System with Hysteresis Current Control. Proceedings of the ICAI, pp. 197-200, Sofia, 2002.
<br />
<br />

·        Михов М.Р. Изследване на система за честотно управление на асинхронен двигател с регулиране на хлъзгането. Научни трудове на НВУ - В.Търново, т. 73, № 1, 501-509, В.Търново, 2003.
<br />
<br />

·        Mikhov M.R. An Algorithm for Synchronized Control of Multi-Motor Drive Systems. Proceedings of the ICEST, pp. 374-377, Heron Press, Sofia, 2003.
<br />
<br />

·        Mikhov M.R. Modeling and Investigation of a Position Control Drive System. Proceedings of the ICEST, pp. 461-464, Bitola, Macedonia, 2004.
<br />
<br />

·        Mikhov M.R. Load Influence in Stepping Electric Drives with Autocommutation. Proceedings of the IMSF, v. 1, pp. 54-61, V. Turnovo, 2004.
<br />
<br />

·        Mikhov M.R., B.G.Balev. Modeling and Optimization of an Electric Drive System with Dual-Zone Speed Regulation. Proceedings of the ICEST, pp. 575-578, Nish, Serbia and Montenegro, 2005.
<br />
<br />

·        Mikhov M.R. Modeling and Investigation of a Step Motor Drive with Microstepping Control. Proceedings of ICAI, pp. 135-138, Sofia, 2005.
<br />
<br />

·        Mikhov M.R., P.S. Nakov.  A Hybrid Step Motor Drive System with High Positioning Accuracy. Proceedings of the EDS, pp. 59-64, Brno, Czech Republic, 2005.
<br />
<br />

·        Mikhov M.R. Performance Analysis of a Positioning Drive System. Proceedings of the ICEST, Sofia, 2006.
<br />
<br />

·        Mikhov M.R. Modeling and Analysis of a Switched Reluctance Motor Drive System. Proceedings of the ICEST, Sofia, 2006.
<br />
<br />

·        Р. Райнов, В. Христов, Формиране на механичните характеристики на асинхронен двигател в режим на кондензаторно спиране, Годишник на ТУ - София, том  54, книга  2/2004 г., Юбилейна научна сесия “30 години факултет АВТОМАТИКА”, стр. 193 - 198  
</p>
<br />
<br />
<p class="h1" style="text-align:center;">Учебни пособия</p>
<br />
<br />

<p class="lead">
    ·        Д. Бакърджиев, Св. Джуров, Т. Йонков Автоматизация на производствените агрегати – учебник, 1990
    <br />
    <br />
    ·        Д. Бакърджиев, Св. Джуров, Т. Йонков, К. Павлитов
    Автоматизация на производствените агрегати – ръководство за лабораторни упражнения, 1991
    <br />
    <br />

    ·        Д. Бакърджиев Технологии и автоматизация на производството – електронно издание (записки), 2005
    <br />
    <br />

    ·        Д. Бакърджиев, Дочев М., Жилевска М., Кисьов А.,
    Електрозадвижване – ръководство за лабораторни упражнения – Технически колеж Ловеч, 2006
    <br />
    <br />

    ·        Ж. Билдирев, Контрол и оптимизация в системите за автоматизация – учебник, 1994
    <br />
    <br />

    ·        Колектив, Основи на електрозадвижването – ръководство за лабораторни упражнения, 1972
    <br />
    <br />

    ·        К. Павлитов, Логическо управление на електромеханични системи - електронни записки, 2005
    <br />
    <br />

    ·        К. Павлитов, Компютърен мониторинг и управление - Записки на електронен носител, 2004
    <br />
    <br />

    ·        К. Павлитов, Computing III, Учебник за студентите от англ. обучение, 1998
    <br />
    <br />

    ·        М. Михов, Автоматично управление на електрозадвижванията - учебник, 1994
    <br />
    <br />

    ·        М. Михов, Управление на електромеханични системи - учебник, 1999
    <br />
    <br />

    ·        М. Михов, Управление на електромеханични системи – I и II част – учебник, 2006
    <br />
    <br />

    ·        Йорданов С., Р.Райнов, Ръководство за лабораторни упражнения по автоматизация на производствените механизми, Издателство на ВМЕИ – София, 1999
    <br />
    <br />

    ·        Билдирев Ж., С.Пандуров, Д.Бакърджиев, Л.Домбалова, Р.Райнов, П.Петков, Ръководство за лабораторни упражнения по автоматизирано електрозадвижване и автоматизация на производствените механизми, Издателство “Техника”, 1977
    <br />
    <br />

    ·        Йорданов С., Р. Райнов, Ръководство за лабораторни упражнения по електрозадвижване и автоматично управление, 1992
    <br />
    <br />

    ·        Р. Райнов, “Електромеханични устройства”-записки на електронен носител - 2002 г.
    <br />
    <br />

    ·        Р. Райнов, “Задвижване и управление на роботи” – записки на електронен носител- 2003 г.
    <br />
    <br />

    ·        Р. Райнов, “Инженерни методи в електромеханиката” - записки на  електронен носител - 2004 г.
</p>