<p class="h1" style="text-align:center;">НАУЧНА ДЕЙНОСТ</p>
<br />
<br />
<p class="lead">
    Най-съществената характеристика на катедрата в рамките на ФА е високата й научноизследователска активност, базирана на преки договори с промишлеността. В последните 5 години договорната тематика на катедрата е със следните характеристики
</p>
<br />

<p class="lead">


    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">Тип</th>
                <th scope="col">Брой</th>
                <th scope="col">Обем, лв</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Задачи по НИС</td>
                <td>5</td>
                <td>205000</td>
            </tr>
            <tr>
                <td>Фонд НИ - МОН</td>
                <td>1</td>
                <td>4000</td>
            </tr>
            <tr>
                <td>Вътрешно финансиране</td>
                <td>3</td>
                <td>10000</td>
            </tr>
        </tbody>
    </table>


<br />
<br />
   Преподавателите от катедрата извършват научни изследвания, проектантска, конструкторска и внедрителска дейност в следните области и тематични направления:
   <br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;Честотно управление, в т. ч. и векторно управление, на асинхронни електрозадвижвания;
   <br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;Параметрично управление на асинхронни електрозадвижвания;
   <br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;Управление на двигатели за постоянен ток: по системата управляем изправител - двигател, управление с ШИМ;
   <br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;Автоматизация на производствени агрегати и механизми в металургията, прокатните производства, подемно-транспортните механизми, керамичната промишленост, текстилната промишленост, производството на хартия и проводници;
   <br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;Микропроцесорни системи за управление на технологични процеси в различни области;
   <br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;Силови електронни блокове за изграждане на преобразуватели на електроенергия;
   <br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;Електронни апаратури за медицински изследвания.
   <br />
   <br />

             Разработени са и са внедрени в серийно производство елементи и системи на регулируеми кранови електрозадвижвания с върхови технико-икономически показатели. Някои от тях са намерили приложение и в други страни (Русия, Франция, Германия и др.), а други все още се произвеждат само в България.
   <br />
   <br />

           От много години се правят системни изследвания и разработки за статистическа идентификация на реалните работни режими, а на тази основа - разработване на методи за избор и проектиране на системите за електрозадвижване.
   <br />
   <br />

            Част от резултатите на научните изследвания са доведени до серийно производство, други - до производствена дейност, организирана в катедрата, до внедряването на уникални образци. Във връзка с тях са основната част от научните публикации и изобретения.
   <br />
   <br />

           Научните изследвания имат и своите количествени измерения; направени са публикации в наши научни списания, конференции с международно участие. Много са публикациите извън страната, в катедрата са създадени общо 104 изобретения. Колективи от катедрата са разработили 23 системи за автоматизация, повечето от които са защитени с авторски свидетелства и са произвеждани серийно в заводи от страната или по договори по НИС. Досега от тях са произведени общо над 32500 изделия. Освен това в катедрата са разработени 300 системи за автоматизация на различни обекти в промишлеността.
   <br />
   <br />

            Високата научноизследователска активност, базирана на преки договори с промишлеността, ще продължи и в следващите години – главно чрез сключване на международни договори за износ на интелектуални продукти, разработени в катедрата. Основание за тези перспективи ни дава факта, че и в момента разработки на катедрата се внедряват по линия на военно-техническото сътрудничество с НАТО в чужди армии. За съжаление договорите в тази връзка не се сключват директно от НИС, а като подизпълнители.
   <br />
   <br />

Тъй като катедрата разполага с необходимите предпоставки - опит, традиция, хабилитиран научен потенциал, материална лабораторна база и пр., като уникално научно и учебно звено в системата на нашето висше образование, ще продължи разработването на дисертации за “Доктор” в направленията, за които катедрата е акредитирана.
</p>