<p class="h1" style="text-align:center;">Катедра АЕЗ през годините</p>

<p class="lead">
    Катедра "Автоматизация на електрозадвижванията" е създадена през 1974 год. при разделянето на катедра "Промишлена автоматика". През 1997 г. при проведените структурни промени в ТУ - София, катедра “Автоматизация на електрозадвижванията” се обедини с катедра “Робототехника”. В състава на обединената катедра АЕЗ се обособи секция “Роботика”, която води специализацията по “Робототехнически системи”.
    <br />
    <br />
    Катедра "Автоматизация на електрозадвижванията" отговаря за обучението на студентите от специализацията "Електрозадвижване и автоматизация на машини" към специалността "АВТОМАТИКА, ИНФОРМАЦИОННА И УПРАВЛЯВАЩА ТЕХНИКА".
    <br />
    <br />
    Под научното ръководство на членове на катедрата са защитени от външни лица 43 докторски дисертации.
    <br />
    <br />
    Понастоящем членове на катедрата четат 26 лекционни курса. Членове на катедра “Автоматизация на електрозадвижванията” са автори или съавтори на 31 учебници и учебни пособия и 8 монографии и книги.
    <br />
    <br />
    Катедрата извършва обучение по дисциплини от областта на автоматизираните електрозадвижвания в чуждестранните факултети на ТУ-София, както и в други факултети на ТУ – част от преподавателите водят часове във  ОИОАЕ и в ТФ (авиационните специалности), като се очаква тази тенденция да се запази. Очакваме да се създадат нови дисциплини, които да се четат в други факултети на ТУ-София.
    <br />
    <br />
    Катедрата обучава бакалаври, магистри и докторанти от специалност АИУТ в направленията:
    <br />

   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;Електрозадвижване и автоматизация на машини (ЕЗАМ) – за бакалаври
    <br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;Автоматизирани производствени системи (АПС) – за магистри
    <br />
    <br />

    Катедрата води 3 общи за специалност АИУТ курсове в бакалавърското ниво и 1 в магистърското. Освен това катедрата води и 13 специализирани курса в бакалавърското ниво и 7 в магистърското ниво. Участваме и в обучението на студентите от Електротехническото направление на специалността “Авиационна техника” чрез 1 курс в бакалавърското ниво.
    <br />
    <br />
    За всички водени дисциплини е създадена необходимата учебна документация и е успешно акредитирана.
    <br />
    <br />
    Интересът към направленията ЕЗАМ и АПС съответства на средния интерес на студентите от специалност АИУТ. В съответствие с това и средният им успех не се различава от средния успех на специалност АИУТ.
    <br />
    <br />
    В последните 5 години катедрата има участие в 2 международни проекта, свързани с обучението на студенти. Финансирането на тези проекти бе в обем от 69000$. В посочената сума се включват разходи за обучението на двама дипломанти от катедрата по 1 година в САЩ, университета гр. Лансинг и тяхното дипломиране по магистърска програма  “Екоинженерство”, както и проведена специализация от 1 преподавател от катедрата в САЩ.
</p>