@model ExamViewModel

 @{
    ViewData["Title"] = "Търсене на изпити";
}

<div class="row">
    <div class="offset-md-2 col-md-8 col-sm-12">
        <h3>Изберете предмет</h3>
        <form method="get">
            <div class="form-group">              
                <select asp-for="Type" class="form-control">
                    @foreach (var type in Model.Types)
                    {
                        <option value=@type>@type</option>
                    }
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Търсене</button>
        </form>
    </div>
</div>