<nav class="navbar navbar-light bg-light nav flex-column ">
  <a class="navbar-brand" href="#">Бакалаври</a>
  <a class="navbar-brand" href="#">Магистри</a>
  <a class="navbar-brand" href="#">Докторанти</a>
</nav>