@model DissertationFormModel

<link rel="stylesheet" href="~/css/form.css" asp-append-version="true" />

<p class="h1" style="text-align:center;">Добавяне/Промяна на дисертация</p>
<br />
<br />

<div class="row">
    <div class="offset-md-3 col-md-6 col-sm-12 ">

        <form method="post">
            <div class="form-group">
                <label asp-for="Number">Номер</label>
                <input asp-for="Number" type="text" class="form-control">
                <span asp-validation-for="Number" class="small text-danger"> </span>
            </div>

            <div class="form-group">
                <label asp-for="FullName">Име</label>
                <input asp-for="FullName" type="text" class="form-control">
                <span asp-validation-for="FullName" class="small text-danger"> </span>
            </div>


            <div class="form-group">
                <label asp-for="Supervisor">Име на ръководител</label>
                <input asp-for="Supervisor" type="text" class="form-control">
                <span asp-validation-for="Supervisor" class="small text-danger"> </span>
            </div>

            <br />
            <button type="submit" class="btn btn-primary">Запиши</button>
        </form>
    </div>
</div>
