@{
    ViewData["Title"] = "Админ панел";
}

<nav class="navbar navbar-inverse">
    <ul class="nav navbar-nav">
        <li><a class="nav-link" asp-area="" asp-controller="AdminPanel" asp-action="ShowStaff">Служители</a></li>


        <li><a class="nav-link" asp-area="" asp-controller="AdminPanel" asp-action="AddStaff">Добавяне на служител</a></li>


        <li><a class="nav-link" asp-area="" asp-controller="AdminPanel" asp-action="ShowDissertation">Дисертации</a></li>


        <li> <a class="nav-link" asp-area="" asp-controller="AdminPanel" asp-action="AddDissertation">Добавяне на дисертация</a></li>



        <li> <a class="nav-link" asp-area="" asp-controller="AdminPanel" asp-action="ShowPost">Публикации</a></li>



        <li> <a class="nav-link" asp-area="" asp-controller="AdminPanel" asp-action="AddPost">Добавяне на публикация</a></li>



        <li> <a class="nav-link" asp-area="" asp-controller="AdminPanel" asp-action="AddExam">Добавяне на изпит</a></li>



        <li> <a class="nav-link" asp-area="" asp-controller="AdminPanel" asp-action="ShowExam">Всички изпити</a></li>



        <li> <a class="nav-link" asp-area="" asp-controller="AdminPanel" asp-action="AddType">Добави предмет</a></li>



        <li><a class="nav-link" asp-area="" asp-controller="AdminPanel" asp-action="ShowType">Покажи предмети</a></li>

    </ul>
</nav>